.light {
    --header-color:         #ffffff;
    --body-color:           #f0f0f0;
    --footer-color:         #f5f5f5;
    --content-color:        #ffffff;
    --card-main-color:      #ffffff;
    --logo-color:           #333333;
    --btn-main-color:       #548eaa;
    --btn-main-color-hover: #2c7db0;
    --header-main-color:    #333333;
    --text-main-color:      #333333;
    --border-main-color:    #bebebe;
    --link-main-color:      #58a6ff;
    --icon-main-color:      #333333;
    --icon-secondary-color: #838d97;
}
.dark {
    --header-color:         #0d1117;
    --body-color:           #0d1117;
    --footer-color:         #161b22;
    --content-color:        #333333;
    --card-main-color:      #333333;
    --logo-color:           #f5f5f5;
    --btn-main-color:       #238636;
    --btn-main-color-hover: #259a3c;
    --header-main-color:    #f5f5f5;
    --text-main-color:      #f5f5f5;
    --border-main-color:    #bebebe;
    --link-main-color:      #4493f8;
    --icon-main-color:      #f5f5f5;
    --icon-secondary-color: #838d97;
}

body {
    background-color: var(--body-color);
    font-family: 'Roboto', sans-serif;
    color: var(--text-main-color);
    flex-direction: column;
    align-items: center;
    height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
}
header {
    border-bottom: 1px solid var(--border-main-color);
    background-color: var(--header-color);
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    display: flex;
    width: 100%;
}
footer {
    background-color: var(--footer-color);
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    display: flex;
    width: 100%;
}
.container-block{
    box-sizing: border-box;
    max-width: 1920px;
    min-width: 200px;
    padding: 1.5em;
    width: 100%;
}

a {
    color: var(--link-main-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    color:var(--header-main-color)
}

.global__logo-main {
    color: var(--logo-color);
}
.global__logo-main:hover {
    color: #00aed8;
    transition: color 0.2s ease 0.2s;
}
.global__icon-main {
    color: var(--icon-main-color);
}
.global__icon-secondary {
    color: var(--icon-secondary-color);
}
.global__card-main{
    background-color: var(--card-main-color);
}
.global__block-main {
    padding: 28px;
    background: var(--content-color);
    border: 1px solid var(--border-main-color);
    color: var(--text-main-color);
}
.global__btn-main{
    background-color: var(--btn-main-color);
    border: none;
    border-radius: 4px;
    color: #ffffff;
}
.global__btn-main:hover{
    background-color: var(--btn-main-color-hover);
    transition: color 0.5s ease 0.5s;
}

.global__border-main {
    border: 1px solid var(--border-main-color);
    border-radius: 4px;
}

.global__break-lines {
    white-space: pre-wrap;
}

@media (max-width: 768px) {
    .container-block {
        padding: 1em;
    }
}